@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="eventsApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Event</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body ng-cloak>
    
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="~/Home/Index">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="padded" ng-controller="EditEventController">
            <div class="container">
                <h1>New Event {{timeoutMessage}}</h1>
                <button type="button" class="btn" ng-click="cancelTimeout()">Cancel Timeout</button>
                <hr />
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName">Event Name:</label>
                        <input id="eventName" type="text" required ng-model="event.name" placeholder="Name of your event..." />
                        <label for="eventDate">Event Date:</label>
                        <input id="eventDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format {mm/dd/yyyy}..." />
                        <label for="eventTime">Event Time:</label>
                        <input id="eventTime" type="text" ng-model="event.time" placeholder="start and end time..." />
                        <label for="eventLocation">Event Location:</label>
                        <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event..." />
                        <br />
                        <input id="eventCity" type="text" ng-model="event.location.city" placeholder="City..." />
                        <input id="eventProvince" type="text" ng-model="event.location.province" placeholder="Province..." />

                        <label for="eventImageUrl">Image:</label>
                        <input id="eventImageUrl" type="text" ng-model="event.imageUrl" placeholder="Image URL..." />
                    </fieldset>
                    <img ng-src="{{event.imageUrl}}" src="" />
                    <br />
                    <br />
                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
                    <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>

                </form>
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Content/controllers/EditEventController.js"></script>
    <script src="~/Content/services/EventData.js"></script>
</body>
</html>
